* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

ul {
  padding: 0 20px;
}

li {
  margin: 10px 0;
}

p {
  margin: 20px 0;
}

h3 {
  margin: 20px 0;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.product {
  border: 4px black solid;
  width: 100%;
}

.product-title-container {
  position: relative;
}

.product-title-container::after {
  content: "sale";
  text-transform: uppercase;
  background-color: red;
  color: white;
  padding: 5px 15px;
  position: absolute;
  top: -15px;
  left: -15px;
  letter-spacing: 2px;
}

.product-title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

.product-price {
  font-size: 24px;
  margin-bottom: 0px;
}

.product-shipping {
  text-transform: uppercase;
  color: #777777;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0px;
}

.more-info {
  color: black;
  font-size: 16px;
  background-color: #f7f7f7;
}

.more-info:hover {
  text-decoration: none;
}

.variant-list {
  list-style: none;
}

.variant-list li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 30px 5px;
}

.variant-list li:first-child {
  background-color: black;
  margin-left: 2px;
}

.variant-list li:nth-child(2) {
  background-color: blue;
}

.variant-list li:nth-child(3) {
  background-color: red;
}
.variant-list li:nth-child(4) {
  background-color: yellow;
}
.variant-list li:nth-child(5) {
  background-color: green;
}
.variant-list li:nth-child(6) {
  background-color: brown;
}

.product-details-header {
  text-transform: uppercase;
}

.product-details-list {
  list-style: square;
}

.add-cart {
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: #f7f7f7;
  color: black;
}

.product-image {
  width: 30%;
  float: left;
}

.product-price {
  float: left;
}
.product-shipping {
  float: right;
  margin: 0;
  padding: 20px 0;
}

.product-basic-container {
  float: left;
  width: 35%;
  padding: 0 10px;
}

.product-details-container {
  float: left;
  width: 35%;
  padding: 0 10px;
}

.clear {
  clear: both;
  content: "";
  display: block;
}
